@import url('https://fonts.googleapis.com/css?family=Arsenal');
@import "materialize-css/sass/components/_color.scss";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

$background-color: color("cyan", "darken-2") !default;
$tertiary-color: #ccffff;
/*$tertiary-color: #aaffff !default;*/
$secondary-color: rgba(0, 120, 70, 0.9) !default;
/*$secondary-color: #aaffff;*/
$primary-color: #dfffdd !default;

$text-color: #444444;
$link-color: color("blue", "lighten-1") !default;
$link-hover-color: rgba(0, 100, 140, 1);
$nav-color: rgba(200, 260, 110, 1) !default;
$nav-hover-color: rgba(256, 256, 200, 1) !default;
$small-title: rgba(240, 240, 240, 1) !default;
$results-bg: color("cyan", "lighten-3") !default;
$button-color: rgba(0, 180, 180, 1) !default;


body {
  background: $background-color;
  margin-bottom: 15%;
  font-family: 'Arsenal', sans-serif;
  font-size: 1.5rem;
}


p {
  font-size: 1.3em;
  line-height: 2em;
  color: $text-color;
}

span.link, a.link {
  cursor: pointer;
  padding-left: 5px;
  padding-right: 5px;
}

.about-app-modal, .about-creators-modal {
  font-size: 1.25rem;
  margin-left: 15%;
  margin-right: 10%;

  h1 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.5em;
  }

  p {
    line-height: 1.25em;
  }

  strong {
    font-weight: bold;
  }

  ul {
    list-style-type: circle;

    li {
      margin-left: 3em;
    }
  }

  a:hover {
    color: $link-hover-color;
  }
}


/* NAV BAR COMPONENT */

.navbar-fixed {
  height: 2em;
  z-index: 1;

  nav {
    $background-color: #001027;
    margin: auto;
    border-radius: 4em 4em 4em 4em;
    background: $background-color url('images/leaf.jpg');
    opacity: 0.85;

    .nav-wrapper {
      padding-left: 1em;
      padding-right: 1em;

      ul li span.link,
      ul li a.link {
        font-size: 0.8em;
        color: $nav-color;

        &:hover {
          color: $nav-hover-color;
        }
      }
    }
  }
}

#dropdown1 {
  .link {
    background: #003927 url('images/lotus.png');
  }
}


#app-body {
  /*$background-color: #ddffff;*/
  margin-top: 2em;
  margin-left: 2em;
  margin-right: 2em;
  background: $tertiary-color;
  border-radius: 2em 2em;
}




/* WELCOME MESSAGE COMPONENT */

#welcome-message {
  margin-left: 2.5em;
  margin-right: 2.5em;
  text-align: center;

  p {
    background: inherit;
    padding: 1.5em;
    margin: auto;
  }

  span.link {
    color: $link-color;

    &:hover {
      color: $link-hover-color;
    }
  }
}


/* RESULTS COMPONENT */

#results {
  margin: auto;
  z-index: 0;

  h3 {
    color: $small-title;
    padding: 0.5em;
  }
}


/* FEELING FORM COMPONENT */

#feeling-form {
  margin: auto;
  width: 90%;
  text-align: center;

  input[type=text] {
    color: $text-color;
    font-size: 2em;
    text-align: center;

    &:focus {
     border-bottom: 1px solid $secondary-color;
     box-shadow: 0 1px 0 0 $primary-color;
    }
  }

  button {
    z-index: 0;
  }
}


.btn {
  background: $button-color;
  vertical-align: center;
  height: auto;
  max-height: 6em;
  word-wrap: break-word;
  text-transform: capitalize;
  margin: 10px;
  color: $text-color;

  &:hover {
    background: $primary-color;
  }
}


/* FEELING SHOW COMPONENT */

.feeling-show {
  margin: auto;
  height: auto;
  color: $text-color;
  background: $secondary-color;
  width: 28em;
  border-radius: 1em 3em;

  h3 {
    text-align: center;
    font-size: 1.5em;
  }

  p {
    font-size: 1em;
    color: $text-color;
    margin-left: 15%;
    margin-right: 10%;
    background: $primary-color;
    padding: 20px;  
    border-radius: 2em 2em;
  }
}


/* PLANT SHOW COMPONENT */

.plant-show-container {
  display: flex;
  margin: auto;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;

  .plant-show {
    border-radius: 1em 3em;
    overflow: hidden;
    width: 22em;
    height: auto;
    max-height: 45em;
    background: $secondary-color;
    color: $text-color;

    .image-area {
      min-width: inherit;
      height: 50%;
      text-align: center;
      overflow: hidden;

      img {
        min-width: 100%;
        min-height: 100%;
      }

      .title {
        font-size: 1.5em;
      }
    }

    .summary-area {
      margin: 1em 1em;
      min-height: 15em;
      height: auto;

      p {
        background: $primary-color;
        border-radius: 2em 2em;
        padding: 1em;
        min-height: 13em;
        height: auto;
      }

    }

  }
}

@media only screen and (max-width : 700px) {
  body {
    font-size: 5vw;
  }

  #welcome-message {
    margin: auto;
  }

  #app-body {
    margin-top: 1.5em;
    margin-left: 1em;
    margin-right: 1em;
  }

  .feeling-show {
    width: 100%;
  }

}