@import url('https://fonts.googleapis.com/css?family=Arsenal');
@import "materialize-css/sass/components/_color.scss";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

$background-color: color("cyan", "darken-2") !default;
$tertiary-color: #ccffff;
$secondary-color: rgba(0, 120, 70, 0.9) !default;
$primary-color: #dfffdd !default;

$text-color: #444444;
$link-color: color("blue", "lighten-1") !default;
$link-hover-color: rgba(0, 100, 140, 1);
$nav-color: rgba(200, 260, 110, 1) !default;
$nav-hover-color: rgba(256, 256, 200, 1) !default;
$small-title: rgba(240, 240, 240, 1) !default;
$results-bg: color("cyan", "lighten-3") !default;
$button-color: rgba(0, 180, 180, 1) !default;


body {
  background: $background-color;
  font-family: 'Arsenal', sans-serif;
  font-size: 1.4rem;
}

h3 {
  font-size: 1.4em;
}

p {
  font-size: 1.1em;
  line-height: 2em;
  color: $text-color;
}

strong {
  font-weight: bold;
}

pre {

  font-family: inherit;

  word-wrap: break-word;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;

  font-size: 1em;
  color: $text-color;
  margin-left: 0.7em;
  margin-right: 0.7em;
  background: $primary-color;
  padding: 0.9em;  
  border-radius: 2em 2em;
  line-height: 1.4em;
}

span.link, a.link {
  cursor: pointer;

  &:hover {
    color: $link-hover-color;
  }
}


.image-modal {
  margin: auto;

  img {
    width: 100%;
    height: 100%;
  }
}

.about-app-modal, .about-creators-modal {
  font-size: 1.25rem;
  margin-left: 15%;
  margin-right: 10%;

  h1 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.4em;
  }

  p {
    line-height: 1.25em;
  }

  ul {
    list-style-type: circle;

    li {
      margin-left: 3em;
    }
  }

  a:hover {
    color: $link-hover-color;
  }
}


/* NAV BAR COMPONENT */

.navbar-fixed {
  height: 2em;
  z-index: 1;

  nav {
    $background-color: $secondary-color;
    margin: auto;
    border-radius: 4em 4em 4em 4em;
    background: $background-color url('images/leaf.jpg');
    opacity: 0.90;

    .brand-logo {
      font-size: 1.3em;
    }

    .nav-wrapper {
      padding-left: 1em;
      padding-right: 1em;

      ul li span.link,
      ul li a.link {
        font-size: 0.8em;
        color: $nav-color;

        &:hover {
          color: $nav-hover-color;
        }
      }
    }
  }
}

#dropdown1 {
  .link {
    background: #003927;
  }
}


#app-body {
  /*$background-color: #ddffff;*/
  margin: 2em 2em 2em 2em;
  background: $tertiary-color;
  border-radius: 2em 2em;
}




/* WELCOME MESSAGE COMPONENT */

#welcome-message {
  font-size: 1.1em;
  text-align: center;
  padding: 1.1em;

  span.link {
    color: $link-color;

    &:hover {
      color: $link-hover-color;
    }

    &:active {
      color: rgb(150, 210, 256);
    }
  }
}




/* FEELING FORM COMPONENT */

#feeling-form {
  margin: auto;
  width: 100%;
  text-align: center;

  input[type=text] {
    width: 21em;
    color: $text-color;
    font-size: 1.2em;
    text-align: center;

    &:focus {
     border-bottom: 1px solid $secondary-color;
     box-shadow: 0 1px 0 0 $primary-color;
    }
  }

  ::-webkit-input-placeholder { /* Chrome */
    color: rgba(0, 20, 100, 0.2);
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: rgba(0, 20, 100, 0.2);
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: rgba(0, 20, 100, 0.2);
    opacity: 1;
  }
  :-moz-placeholder { /* Firefox 4 - 18 */
    color: rgba(0, 20, 100, 0.2);
    opacity: 1;
  }

  button {
    z-index: 0;
  }
}


.btn {
  background: $button-color;
  vertical-align: center;
  height: auto;
  max-height: 6em;
  word-wrap: break-word;
  text-transform: capitalize;
  margin: 10px;
  color: $text-color;

  &:hover {
    background: $primary-color;
  }
}


/* RESULTS COMPONENT */

#results {
  margin: auto;
  z-index: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;

  h3 {
    color: $small-title;
    padding: 0.2em;
  }


  /* FLEXBOX CHILDREN: FEELING SHOW COMPONENT, PLANT LIST TITLE COMPONENT, AND PLANTS LIST COMPONENT */

  #feeling-show {
    margin-left: auto;
    margin-right: auto;
    flex: 0 1 27em;
    height: auto;
    color: $text-color;
    background: $secondary-color;
    border-radius: 1em 3em;

    h3 {
      text-align: center;
    }
  }


  #plants-list {
    margin: auto;
    flex: 0 1 38.25em;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    padding: 0;

    h3 {
      border-radius: 3em 2em;
      text-align: center;
      display: block;
      margin: auto;
      background: $secondary-color;
    }

    #plant-list-title {
      padding: 0.5em;
      width: 100%;

      h3 {
        min-width: 5em;
        width: auto;
        max-width: 15em;
      }
    }

    #no-plant-list-title {
      padding: 0.5em;
      width: 100%;

      h3 {
        max-width: 22em;
      }
    }

    .plant-show {
      margin: auto;
      border-radius: 1em 3em;
      overflow: hidden;
      width: 19em;
      height: auto;
      background: $secondary-color;
      color: $text-color;

      .image-area {
        min-width: inherit;
        height: 15em;
        text-align: center;
        overflow: hidden;

        img {
          min-width: 100%;
          min-height: 100%;
          cursor: pointer;
        }

        .title {
          font-weight: bold;
          font-size: 1.4em;
          padding: 0.3em;
          margin: 0;
        }
      }

      .image-credit {
        margin: 1em;
        opacity: 0.9;
      }

      .summary-area {
        font-size: 0.9em;
        margin: 0.4em 0.4em;
        height: 21em;

        .summary-area-child {
          line-height: 1.3em;
          background: $primary-color;
          border-radius: 2em 2em;
          padding: 0.9em;
          height: 100%;

          p {
            padding: none;
            margin: none;
            line-height: 1.2em;
          }

          .feeling-group {
            margin: auto;
            font-size: 0.9em;
            line-height: 1.3em;
            width: 100%;
            padding: 0.9em;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;


            .feelings-list {
              width: 50%;
              text-align: center;

              ul {
                padding: 0;
                margin: 0.3em;

                li {
                  color:rgb(80, 135, 80);
                  border-bottom: dotted 1px rgba(80, 135, 80, 0.3);
                  font-style: italic;
                  word-wrap: break-word;
                  white-space: pre-wrap;
                  white-space: -moz-pre-wrap;
                  white-space: -pre-wrap;
                  white-space: -o-pre-wrap;
                }
              }
            }            
          }          
        }
      }
    }
  }
}




@media only screen and (max-width : 700px) {
  body {
    font-size: 4vw;
  }

  #feeling-form {
    width: 100%;

    input[type=text] {
      font-size: 1em;
      width: 18em;
    }
  }


  #welcome-message {
    margin: auto;
    font-size: 1em;
  }

  #app-body {
    margin-top: 2em;
    margin-left: 1em;
    margin-right: 1em;
  }

  #feeling-show {
    width: 96%;
    margin: auto;
  }

}