@import url('https://fonts.googleapis.com/css?family=Arsenal');

@import "materialize-css/sass/components/_color.scss";

$background-color: rgba(0, 10, 27, 0.8) !default;
$primary-color: rgba(0, 30, 70, 0.85) !default;
$secondary-color: rgba(0, 10, 27, 0.6) !default;
$tertiary-color: rgba(0, 10, 27, 0.6) !default;
$text-color: #fcfcfc !default;
$link-color: color("blue", "lighten-2") !default;
$nav-color: rgba(256, 256, 180, 1) !default;
$hover-color: rgba(256, 256, 0, 1) !default;
$small-title: rgba(230, 230, 230, 1) !default;
$button-color: rgba(50, 70, 120, 1) !default;


body {
  background: url('images/cosmos.jpg') fixed $background-color;
  margin-bottom: 15%;
  font-family: 'Arsenal', sans-serif;
  font-size: 1.75rem;
}


p {
  font-size: 1em;
  line-height: 2em;
  color: $text-color;
}

#app-body {
  margin-top: 2em;
	margin-left: 2em;
	margin-right: 2em;
  background: rgba(256, 256, 200, 0.05);
  border-radius: 2em 2em;
}

@media only screen and (max-width : 900px) {
  body {
    font-size: 3vw;
  }
  #app-body {
    margin-left: 5%;
    margin-right: 5%;
  }
}



/* NAV BAR COMPONENT */

#navbar {
  /*background: #001027;*/
/*  position: fixed;
  margin-top: 0;*/
}

nav {
  margin: auto;
  background: #001027;
  border-radius: 4em 4em 4em 4em;
  background: $background-color;
  width: 95%;
  height: 4em;

}

#logo {
  width: 1em;
  height: auto;
}

.nav-wrapper {
  padding: 1em;
}

.button-collapse {
  color: #26a69a;
}

.nav-wrapper ul li a {
  color: $nav-color;
}
.nav-wrapper ul li a:hover {
  color: $hover-color;
}


/* WELCOME MESSAGE COMPONENT */

#welcome-message {
  padding: 20px;
  margin: 20px;
  text-align: center;
}

#welcome-message p {
  border-radius: 2em 2em;
  background: $primary-color;
  width: 25em;
  padding: 20px;
  margin: auto;
  text-shadow: 2px 1px #000;
}

#welcome-message span.link {
  color: $link-color;
  cursor: pointer;
}

#welcome-message span.link:hover {
  color: #eee;
}

/* FEELING FORM COMPONENT */

#feeling-form {
  margin: auto;
  width: 30em;
  text-align: center;
}

input[type=text] {
  color: $text-color;
  font-size: 2em;
}

input[type=text]:focus {
  box-shadow: none;
  border: none; 
  text-decoration: none;
}

.btn {
  background: $button-color;
  vertical-align: center;
  height: auto;
  max-height: 6em;
  word-wrap: break-word;
  text-transform: capitalize;
  margin: 10px;
  color: $text-color;
}

.btn:hover {
  background: $primary-color;
}

/* RESULTS COMPONENT */

#results {
  margin: auto;
}

#results h3 {
  color: $small-title;
  text-shadow: 2px 3px #000;
  padding: 10px;
}

/* FEELING SHOW COMPONENT */

.feeling-show {
  margin: auto;
  height: auto;
  color: $text-color;
  background: $tertiary-color;
  width: 30em;
  border-radius: 1em 3em;
}

.feeling-show h3 {
  text-align: center;
  font-size: 1.5em;
}

.feeling-show p {
  font-size: 1em;
  color: $small-title;
  margin-left: 15%;
  margin-right: 10%;
  background: $primary-color;
  padding: 20px;  
  border-radius: 2em 2em;
}


/* PLANT SHOW COMPONENT */

.plant-show-container {
  display: flex;
  margin: auto;
  flex-flow: row wrap;
  justify-content: space-around;
}

.plant-show {
  border-radius: 1em 3em;
  overflow: hidden;
  width: 20em;
  height: auto;
  max-height: 30em;
  background: $tertiary-color;
  color: $text-color;
}

.plant-show h3 {
  text-align: center;
  font-size: 1.5em;
}


.plant-show p {
  overflow: auto;
  background: $primary-color;
  padding: 10px;
  height: 300px;
}



